MYSQL_ROOT_PASSWORD=my_secret_root_password  # CHANGE THIS!
MYSQL_DATABASE=compliance_db
MYSQL_USER=compliance_user
MYSQL_PASSWORD=my_secret_db_password  # CHANGE THIS!
DNAC_IP=10.147.26.90
USERNAME=jalluwat
PASSWORD=Cisco1234